<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Catatanku</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>

<body>
	<div class="wrapper">
		<header>
			<h1>Note List</h1>
		</header>
		<nav>
			<p><a href="{% url 'dashboard:insert' %}">Add Note 📓</a></p>
		</nav>
		<section>
			{% for item in note %}
			<div class="note">
				<h3>{{ item.judul }}</h3>
				<p>{{ item.isi }}</p>
				<div class="control">
					<a href="{% url 'dashboard:update' item.id %}">update ✍</a>
					<a href="{% url 'dashboard:delete' item.id %}">delete ❌</a>
				</div>
			</div>
			{% endfor %}
		</section>
	</div>
</body>

</html>